body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

.top-line-bg {
  background-color: #ffffff;
}

.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.span-logo {
  color: #2e2f42;
}

.top-line-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.top-line-nav:hover,
.top-line-nav:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.dark-bg {
  background-color: #2e2f42;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.custom-button {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.custom-button:hover,
.custom-button:focus {
  background-color: #404bbf;
}

.title-3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.light-bg {
  background-color: #f4f4fd;
}

.title-2 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-card {
  background-color: #ffffff;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-footer span {
  color: #f4f4fd;
}

.footer-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #f4f4fd;
}
